<section class="sobre-nosotros">
    <div class="about-container">
      <h1>Sobre Nosotros</h1>
      <p>Somos dos personas apasionadas por la repostería y en especial por las cheesecakes. Empezamos este proyecto en Albacete, haciendo cheesecakes de manera 100% artesanal desde casa. Cada tarta es preparada con los mejores ingredientes, cuidando cada detalle para ofrecer una experiencia única.</p>
      <p>En Mane Cheesecakes, creemos en el sabor auténtico de lo hecho a mano, y cada cheesecake que hacemos refleja nuestra dedicación y amor por la repostería. Nos enorgullece ser parte de la comunidad de Albacete y ofrecer nuestros productos a través de pedidos por encargo.</p>
      <p>Nos encontramos en una fase de crecimiento, y en el futuro esperamos expandirnos y empezar a operar a través de Glovo para llegar a más personas en la ciudad. ¡Gracias por ser parte de nuestra historia!</p>
  
      <div class="gallery">
        <h2>Nuestras Cheesecakes</h2>
        <div class="gallery-grid">
          <img src="/assets/img/HandHeld.JPEG" alt="Cheesecake 1">
          <img src="/assets/img/CloseUp.JPEG" alt="Cheesecake 2">
          <img src="/assets/img/HandHeld.JPEG" alt="Cheesecake 3">
          <!-- Añade más imágenes aquí -->
        </div>
      </div>
    </div>
  </section>
  