<section class="pedidos">
    <div class="pedidos-container">
      <h1>Haz tu Pedido</h1>
      <p>En Mane Cheesecakes, todos nuestros pedidos son hechos por encargo para garantizar la frescura y calidad de cada cheesecake.</p>
      <p>Puedes hacer tu pedido a través de nuestro WhatsApp, donde te ayudaremos a elegir el mejor sabor para ti.</p>
  
      <div class="contact">
        <h2>Contáctanos por WhatsApp</h2>
        <a href="https://wa.me/34912345678" target="_blank" class="whatsapp-button">
          <fa-icon [icon]="faWhatsapp"></fa-icon> Haz tu pedido
        </a>
        <p>(Recuerda que, por ahora, solo aceptamos pedidos en Albacete).</p>
      </div>
  
      <div class="future">
        <h2>Próximamente en Glovo</h2>
        <p>Estamos trabajando para poder ofrecer nuestras cheesecakes a través de Glovo. Pronto podrás hacer tu pedido de manera rápida y cómoda desde la app.</p>
      </div>
    </div>
  </section>
  